@use '../../../reusable' as *;

.Dashboard {
  min-height: 70vh;
  padding: 2rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 2rem;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}