@use '../../../reusable' as *;

.AdminOrders {
  min-height: 70vh;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  table {
    border-collapse: collapse;
    background: $bg-secondary;
    border-radius: 1rem;
    box-shadow: $shadow-main, $shadow-alt-main;

    th, td {
      padding: .5rem;

      .ButtonAction.Alt {
        background: transparent;
      }
    }

    thead {
      border-bottom: lighten($text-alt-secondary, 10) 2px solid;

      th {
        color: $accent;
        font-weight: 500;
      }
    }

    tbody {
      tr:nth-child(even)  {
        background: lighten($text-alt-secondary, 28);
      }
    }
  }
}